@font-face {
  font-family: helvetica;
  src: url("../fonts/HelveticaNeue.ttf");
}

body {
  box-sizing: border-box;
  max-width: var(--body-max-width);
  min-width: var(--body-min-width);
  padding-left: 16px;
  padding-right: 16px;
  font-family: helvetica, Arial, sans-serif;
  background-color: var(--main-body-background-color);
}

body.inner {
  padding-left: 0;
  padding-right: 0;
  background-color: var(--inner-body-background-color);
}

.nav__link {
  position: absolute;
  top: 53px;
  left: 70px;
  display: block;
  width: 53px;
  height: 53px;
  background-color: #d9d9d9;
  border-radius: 50%;
  background-image: url("../img/icon-arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
}