.body-record-list {
  padding-left: 16px;
  padding-right: 16px;
}

.record-list {
  max-width: 1178px;
  padding-bottom: 168px;
  margin: 0 auto;
}

.record-list .flex-container {
  row-gap: 55px;
}

.record-list__header {
  padding-top: 79px;
  padding-bottom: 97px;
  font-size: 34px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

.record-list-item {
  position: relative;
  box-sizing: border-box;
  padding: 14px;
  padding-left: 308px;
  width: 563px;
  height: 205px;
  background-color: #eafaff;
  border-radius: 10px;
}

.record-list__container .flex-container__item--width--half {
  flex-basis: 47%;
}

.record-list-item__image-container {
  position: absolute;
  top: 14px;
  left: 14px;
  width: 266px;
  height: 178px;
  border-radius: 10px;
}

.record-list-item__image {
  border-radius: 10px;
}

.record-list-item__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 31px;
  height: 100%;
}

.record-list-item__employee {
  display: block;
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #2e2e2e;
}

.record-list-item__laptop {
  display: block;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  color: #2e2e2e;
}

@media only screen and (max-width: 920px) {
  .record-list__container .flex-container__item--width--half {
    flex-basis: 100%;
  }
}

@media only screen and (max-width: 390px) {
  .record-list {
    padding-bottom: 51px;
  }

  .record-list__header {
      padding-top: 31px;
      padding-bottom: 33px;
      font-size: 16px;
      line-height: 20px;
  }

  .record-list-item {
    padding: 7px;
    padding-left: 187px;
    width: 358px;
    height: 123px;
    border-radius: 10px;
  }

  .record-list-item__content {
    padding-top: 12px;
  }

  .record-list-item__employee {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .record-list-item__laptop {
    margin-bottom: 11px;
  }

  .record-list-item__image-container {
    top: 7px;
    left: 7px;
    width: 164px;
    height: 109px;
    border-radius: 6px;
  }

  .record-list-item__actions .link {
    font-size: 14px;
  }
}
